.exemple{

  background-color:#D3D7CF;
}
.l_serif{
  font-family:serif;
}
.l_sans_serif{
  font-family:sans-serif;
}
.l_serif{
  font-family:monospace;
}
.f_em{
  font-size: 2em;
}
.f_px{
  font-size: 25px;
}
.f_percentatge{
  font-size: 80%;
}
.f_lighter{
  font-weight: lighter;
}
.f_normal{
  font-weight: normal;
}
.f_bolder{
  font-weight: bolder;
}
#weight{
  font-family: sans-serif;
}
.f_italic{
  font-style: italic;
}
.f_obliqua{
  font-style: oblique;
}
.f_pxgran{
  word-spacing: 50px;
}
.f_pxmitja{
  word-spacing: 20px;
}
.f_pxpetit{
  word-spacing: 10px;
}
.l_pxgran{
  letter-spacing: 30px;
}
.l_pxmitja{
  letter-spacing: 20px;
}
.l_pxpetit{
  letter-spacing: 10px;
}